#!/usr/bin/env bash

# Application aliases
if [[ "$(uname -s)" == "Darwin" ]]; then
  if [ -d "/Applications/Cursor.app" ]; then
    alias code='/Applications/Cursor.app/Contents/Resources/app/bin/code'
  else
    alias code='/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code'
  fi
  alias google-chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
  alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
fi

# Shell aliases
alias sourcezshrc='. $HOME/.zshrc'

# Change directory (common)
alias cddev='cd $DEVELOPMENT_PATH'

# Change directory (personal)
alias cdjroman00='cd $DEVELOPMENT_PATH/jroman00'
alias cdcapex-calculator='cd $DEVELOPMENT_PATH/jroman00/capex-calculator'
alias cdclaude-playground='cd $DEVELOPMENT_PATH/jroman00/claude-playground'

# Justworks Aliases
## Change directory (Justworks)
alias cdjustworks='cd $DEVELOPMENT_PATH/justworkshr'
alias cdach_fs='cd $DEVELOPMENT_PATH/justworkshr/ach_fs'
alias cdbanksy='cd $DEVELOPMENT_PATH/justworkshr/banksy'
alias cdcf='cd $DEVELOPMENT_PATH/justworkshr/clockface'
alias cdclockwork_web='cd $DEVELOPMENT_PATH/justworkshr/clockwork_web'
alias cdgeneral-ledger-service='cd $DEVELOPMENT_PATH/justworkshr/general-ledger-service'
alias cdglobal-payroll='cd $DEVELOPMENT_PATH/justworkshr/global-payroll'
alias cdledger='cd $DEVELOPMENT_PATH/justworkshr/general-ledger-service'
alias cdmoat='cd $DEVELOPMENT_PATH/justworkshr/moat'
alias cdpay='cd $DEVELOPMENT_PATH/justworkshr/pay'
alias cdpayroll-platform='cd $DEVELOPMENT_PATH/justworkshr/payroll-platform'
alias cdtax-calc-engine='cd $DEVELOPMENT_PATH/justworkshr/tax-calc-engine'

# Claude aliases
alias c='claude'

# Docker aliases
alias dbomb='docker ps -q | xargs docker stop; docker ps -aq | xargs docker rm; docker images -aq | xargs docker rmi -f; docker volume prune -f --all; docker network prune -f'
alias dexec='docker exec -it'
alias dnuke='dbomb && docker builder prune -f --all'
alias dps='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Ports}}\t{{.Names}}"'

# Docker compose aliases
alias dc='docker compose'
alias dcc='dcconnect' # See definition in .functions

# Git aliases
alias g='git'
alias ga='git add'
alias gamend='git commit --amend'
alias gblame='git blame -wM'
alias gc='git commit -m'
alias gdiff='git diff --ignore-all-space --no-prefix'
alias gfp='git fetch --prune && git pull origin $(git_branch_name)'
alias gpull='git pull origin $(git_branch_name)'
alias gs='git status'
alias gx='git ls-files -m --exclude-standard | xargs -I {} git restore "{}"; git ls-files --directory --exclude-standard --others | xargs -I {} rm -rf "{}"'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
  export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
  colorflag="-G"
  export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lhF ${colorflag}"

# List all files colorized in long format, including dot files
alias ll="ls -lahF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'

# Enable aliases to be sudo'ed
alias sudo='sudo '

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Because I can't type python for some reason!
alias pythong='python'
