#!/usr/bin/env bash

# Application aliases
if [[ "$(uname -s)" == "Darwin" ]]; then
  alias code='/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code'
  alias google-chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
  alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
fi

# Bash aliases
alias editbp='subl $HOME/.bash_profile'
alias editbrc='subl $HOME/.bashrc'
alias sourcebp='. $HOME/.bash_profile'
alias sourcebrc='. $HOME/.bashrc'

# Change directory (personal)
alias cdokrs-localenv='cd $OKRS_PATH'
alias cdokrs-dashboard-backend='cd $OKRS_PATH/applications/dashboard-backend'
alias cdokrs-dashboard-frontend='cd $OKRS_PATH/applications/dashboard-frontend'
alias cdokrs-okr-service='cd $OKRS_PATH/applications/okr-service'
alias cdokrs-user-service='cd $OKRS_PATH/applications/user-service'
alias cdokrs-website='cd $OKRS_PATH/applications/website'

# Change directory (SoulCycle)
alias cdapi-tests='cd $PODIUMPATH/applications/api-tests'
alias cdbackrow='cd $PODIUMPATH/applications/backrow'
alias cdbayside='cd $PODIUMPATH/applications/bayside'
alias cdbikeshed='cd $PODIUMPATH/applications/bikeshed'
alias cdbouncer='cd $PODIUMPATH/applications/bouncer'
alias cdcandlelight='cd $PODIUMPATH/applications/candlelight'
alias cddashboard-backend='cd $PODIUMPATH/applications/dashboard-backend'
alias cddashboard-frontend='cd $PODIUMPATH/applications/dashboard-frontend'
alias cddigital-signatures-backend='cd $PODIUMPATH/applications/digital-signatures-backend'
alias cddigital-signatures-frontend='cd $PODIUMPATH/applications/digital-signatures-frontend'
alias cdgbp-backend='cd $PODIUMPATH/applications/gbp-backend'
alias cdgbp-frontend='cd $PODIUMPATH/applications/gbp-frontend'
alias cdgbp-website-backend='cd $PODIUMPATH/applications/gbp-website-backend'
alias cdgbp-website-frontend='cd $PODIUMPATH/applications/gbp-website-frontend'
alias cdgomigrate-notifs='cd $PODIUMPATH/applications/gomigrate-notifications'
alias cdhourglass='cd $PODIUMPATH/applications/hourglass'
alias cdloadtests='cd $PODIUMPATH/applications/podium-loadtests'
alias cdmail-carrier='cd $PODIUMPATH/applications/mail-carrier'
alias cdpops-bot='cd $PODIUMPATH/applications/pops-bot'
alias cdpost-office='cd $PODIUMPATH/applications/post-office'
alias cdscs='cd $PODIUMPATH/applications/soul-cycle-site'
alias cdseries-generator-backend='cd $PODIUMPATH/applications/series-generator-backend'
alias cdseries-generator-frontend='cd $PODIUMPATH/applications/series-generator-frontend'
alias cdsilk-road='cd $PODIUMPATH/applications/silk-road'
alias cdsoulcyclesite='cd $PODIUMPATH/applications/soul-cycle-site'
alias cdusers-service='cd $PODIUMPATH/applications/users-service'
alias cdw77='cd $PODIUMPATH/applications/w77'

# Change directory (SoulCycle Go apps)
alias cdfed='cd $GOPATH/src/github.com/soulcycle/fed'
alias cdgomigrate='cd $GOPATH/src/github.com/soulcycle/gomigrate'
alias cdmilestones='cd $GOPATH/src/github.com/soulcycle/milestones'
alias cdpops='cd $GOPATH/src/github.com/soulcycle/pops'

# Podium
alias podium_down='(cd $PODIUMPATH && docker-compose -f configs/global-db-compose.yml down && docker-compose -f configs/global-cache-compose.yml down && docker-compose -f configs/global-pubsub-emulator-compose.yml down)'
alias podium_start='(cd $PODIUMPATH && bin/setup-docker-network && bin/setup-global-db && bin/setup-global-cache && bin/setup-global-pubsub-emulator)'
alias podium_stop='(cd $PODIUMPATH && docker-compose -f configs/global-db-compose.yml stop && docker-compose -f configs/global-cache-compose.yml stop && docker-compose -f configs/global-pubsub-emulator-compose.yml stop)'

# Docker aliases
alias dexec='docker exec -it'
alias dps='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Ports}}\t{{.Names}}"'

# Docker cleanup aliases
alias dbomb='docker stop $(docker ps -aq); docker rmi $(docker images -aq)'
alias dnuke='docker stop $(docker ps -aq); docker rm $(docker ps -aq); docker rmi -f $(docker images -aq); docker network prune -f'

# Minikube aliases
alias mk='minikube'
alias mkde='eval $(minikube docker-env)'

# Kubectl aliases
alias kap='kubectl apply -f'
alias kcr='kubectl create -f'
alias kctl='kubectl'
alias kdel='kubectl delete'
alias kexec='kubectl exec -it'

# Docker compose aliases
alias dc='docker-compose'
alias dcc='dcconnect' # See definition in .functions
alias dcdown='docker-compose down'
alias dcstart='docker-compose start'
alias dcstop='docker-compose stop'
alias dcup='docker-compose up'

# Git aliases
alias g='git'
alias ga='git add'
alias gamend='git commit --amend'
alias gblame='git blame -wM'
alias gc='git commit -m'
alias gdiff='git diff --ignore-all-space --no-prefix'
alias gfp='git fetch --prune && git pull origin $(git_branch_name)'
alias gpull='git pull origin $(git_branch_name)'
alias gpush='git push origin $(git_branch_name)'
alias gs='git status'
alias gx='git ls-files --directory --exclude-standard --others | xargs rm -rf'

# Misc aliases
alias av='ansible-vault'
alias li='bin/local-init'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
  export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
  colorflag="-G"
  export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias ll="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
